@charset "UTF-8";
@media (max-width: 800px) {
  #mainMenu {
    font-size: x-small; } }
#mainMenu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-items: center;
  z-index: 2;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(1, 1, 1, 0.2);
  line-height: 1.5; }
  #mainMenu .menuItem {
    color: black;
    width: 100%;
    font-family: 'Luckiest Guy', cursive;
    text-align: center; }
  #mainMenu .menuSelected {
    color: white;
    background-color: steelblue;
    box-shadow: 0 -1px 2px 0 rgba(1, 1, 1, 0.2); }

.hasDescription {
  cursor: pointer;
  color: crimson;
  padding-left: 1ex; }

.descriptionCollapsed {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  font-size: small; }

.right-side-image img {
  max-width: 300px; }
.right-side-image figcaption {
  text-align: center; }

#notesTable {
  display: grid;
  grid-template-columns: 18ex 1fr;
  line-height: 1.25;
  grid-row-gap: 4em;
  align-items: start;
  font-size: small; }
  #notesTable h3 {
    margin: 0;
    padding: 0.5em;
    align-self: center; }
  #notesTable .nestedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 0.5em;
    border-left: 2px solid lightgray; }

@media (min-width: 800px) {
  table.two-column-data {
    margin-left: 2em; } }
table {
  line-height: 2; }
  table td,
  table th {
    vertical-align: top; }
  table th {
    text-align: left; }

table.alternate_color {
  width: 100%; }
  table.alternate_color th {
    font-weight: normal;
    font-style: italic;
    vertical-align: middle; }
  table.alternate_color td {
    padding: 1ex; }
  table.alternate_color tr:nth-child(odd) td {
    background-color: #f5f5f5; }
  table.alternate_color tr:nth-child(even) td {
    background-color: #fafafa; }

table.two-column-data {
  border-spacing: 0 1.5em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em; }
  table.two-column-data td:nth-child(1),
  table.two-column-data th:nth-child(1) {
    padding-right: 1ex;
    width: 3.5em;
    border-right: 1px solid cadetblue; }
  table.two-column-data th:nth-child(1),
  table.two-column-data tr.highlight_row td:nth-child(1) {
    border-right: 5px crimson solid; }
  table.two-column-data td:nth-child(2) {
    padding-left: 1ex; }

a {
  text-decoration: none;
  color: peru; }
  a:link {
    color: forestgreen; }
  a:hover {
    color: crimson; }

.external-link {
  position: relative; }
  .external-link:hover::after {
    content: '➚';
    position: absolute;
    top: -0.75em; }

#mainText,
.mainText {
  margin: auto;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-top: 100px;
  padding: 20px 30px 40px;
  overflow-y: auto; }

@media (max-width: 800px) {
  .two-column-responsive {
    display: grid;
    grid-template-columns: auto; }
    .two-column-responsive figure {
      text-align: center; } }
@media (min-width: 800px) {
  .two-column-responsive {
    display: grid;
    grid-template-columns: auto auto; }
    .two-column-responsive figure {
      align-self: center; } }
@media (min-width: 800px) {
  p {
    text-align: justify; } }
body {
  max-width: 1050px;
  margin: 0 auto 100px;
  line-height: 2;
  font-family: 'Roboto', sans-serif; }

p {
  padding-bottom: 1em; }

ul {
  margin: auto; }

.python-generated {
  margin-top: 50px; }
  .python-generated ul {
    list-style-type: none; }

.quote {
  font-style: italic;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0; }

.quote-ref {
  text-align: right; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif; }
