$page-background-color: #f0f0f0;
$font-background-color: #ffffff;
$font-color: #2a2a2a;
$hyperlink-new: #2583FF;
$hyperlink-old: #2583AD;
$font-increment-headers: 0.25em;

@media (max-width: 700px) {
  .right-side-image {
    display: none;
  }
}

body {
  color: $font-color;
  max-width: 950px;
  margin: 0px auto;
  margin-bottom: 100px;
  background-color: $page-background-color;
}

table {
  width: 100%
}

table#mainMenu {
/* table containing the main menu items on each page */
  td {
    width: 20%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    text-shadow: 0 1px 0 #FFF;
  }

  a {
    color: #a0a0a0;
  }
}

table#mainText {
  background-color: $font-background-color;
  padding: 20px 30px 40px 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

table#mainText.no-navBar {
  margin-top: 50px;
}

h1 {
  font-size: 1em + 4*$font-increment-headers;
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 {
  font-size: 1em + 3*$font-increment-headers;
}

h3,
h4,
h5,
h6 {
  font-size: 1 + $font-increment-headers;
  //padding-top: 20px;
}

a {
  /* Remove underlining from hyperlinks*/
  text-decoration: none;
  color: $hyperlink-old;
  &:link {
    color: $hyperlink-new;
  }
}

li {
  margin-left: 20px;
  line-height: 1.75;
}

.python-generated {
  margin-top: 50px;
  .li {
    margin-left: 0px;
  }
  table#mainText {
    width: auto;
  }
}

.quote {
  /*for putting in quotes */
  font-style: italic;
  text-align: right;
}

.quote-ref {
  /*for adding a reference to quotes*/
  font-style: italic;
  text-align: right;
  margin-top: -10px;
  padding-bottom: 10px;
}

.info {
  /*usually a small table with email address, office etc. information*/
  padding-bottom: 30px;
}

.right-side-image img {
  width: 300px;
}

.right-side-image figcaption {
  text-align: center;
}

table {
  margin: auto;
  line-height: 1.5;
  text-align: justify;
}

td {
  vertical-align: top;
}

td.column-title {
  font-weight: bold;
  font-size: large;
  width: 50px;
  padding-right: 50px;
}

td.column-description {
  padding-right: 50px;
  padding-bottom: 30px;
}

table.alternate_color {
  td {
    padding: 10px;
  }

  tr:nth-child(odd) td {
    background-color: #f5f5f5;
  }

  tr:nth-child(even) td {
    background-color: #fafafa;
  }
}
