body {
  color: #2a2a2a;
  max-width: 950px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  line-height: 150%;
  text-align: justify;
  background-color: #f0f0f0;
  text-shadow: 0 1px 0 #FFF;
}

table {
  font-size: 1em;
  margin: auto;
  line-height: 150%;
  text-align: justify;
}

li {
  margin-left: 20px;
  padding-bottom: 1px;
}

h1 {
  font-size: 1.5em;
  padding-top: 30px;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.25em;
  padding-top: 30px;
}

h3, h4, h5, h6 {
  font-size: 1.1em;
  padding-top: 20px;
}

a:link {
  color: #2583FF;
  text-decoration: none;
}

a:hover, a:active, a:visited {
  color: #2583AD;
  text-decoration: none;
}

ul.announcements li {
  font-style: italic;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
}

.quote {
  /*for putting in quotes */
  font-style: italic;
  text-align: right;
}

.quote-ref {
  /*for adding a reference to quotes*/
  font-style: italic;
  text-align: right;
  margin-top: -10px;
  padding-bottom: 10px;
}

table#mainMenu td {
  /* table containing the main menu items on each page */
  width: 200px;
  text-align: center;
  padding-bottom: 25px;
  font-style: italic;
}

table#mainMenu a {
  color: a0a0a0;
  /* #2583AD*/
}

table#notesTable td {
  /* large table on the notes page containing all the notes */
  width: 500px;
}

table#mainText {
  background-color: #ffffff;
  padding: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
}

table.alternate_color tr:nth-child(odd) td {
  background-color: #f5f5f5;
  padding: 10px;
}

table.alternate_color tr:nth-child(even) td {
  background-color: #fafafa;
  padding: 10px;
}
