@media (max-width: 800px) {
  .two-column-responsive {
    display: grid;
    grid-template-columns: auto;

    figure {
      text-align: center;
    }
  }
}
@media (min-width: 800px) {
  .two-column-responsive {
    display: grid;
    grid-template-columns: auto auto;

    figure {
      align-self: center;
    }
  }
}
