#mainMenuWrapper{
  height: 5em;
  position: fixed;
  top: 0;
  max-width: 1050px;
  width:100%;
  z-index: 2;
    &:hover {
      #mainMenu {
          line-height: 6em;
    }
  }
}

#mainMenu {
  display: grid;
  position: relative;
  top: 0;
  z-index: 2;
  background-color: white;
  font-size: small;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  font-family: 'Roboto Slab', sans-serif;
  grid-template-columns: auto auto auto auto auto auto;
  line-height: 2em;
  transition-duration: 0.15s;
  z-index: 3;

  .menuItem {
    color: black;
    width: 100%;
    align-self: center;
    text-align: center;
  }

  .menuSelected {
    color: white;
    background-color: steelblue;
    // box-shadow: 0 -1px 2px 0 rgba(1, 1, 1, 0.2);
  }
}

.right-side-image {
  img {
    max-width: 300px;
  }

  figcaption {
    text-align: center;
  }
}

.notesTable {
  display: grid;
  grid-template-columns: 18ex 1fr;
  line-height: 1.25;
  grid-row-gap: 4em;
  align-items: start;
  font-size: small;

  h3 {
    margin: 0;
    padding: 0.5em;
    align-self: center;
  }

  .nestedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 0.5em;
    border-left: 2px solid lightgray;
  }
}

figure.JHULogo {
      text-align: center;
      padding-top: 4em;
      img {
        width: 80%;
      }
}
