.section {
  margin: auto;
  background-color: white;
  padding: 100px 30px 40px;
  overflow-y: auto;
  min-height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
}

.two-column-responsive {
  display: flex;
  figure {
    align-self: center;
  }

  @media (max-width: $max-width) {
    flex-direction: column;
  }

  @media (min-width: $max-width) {
    flex-direction: row;
  }
}
