body {
  font-family: $text-fonts;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-fonts;
}

.logo {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    img {
      width: 80%;
      max-width: 500px;
    }
}
