#mainText{
  @media (min-width: $max-width){
    margin-left:8*$unit-margin;
  }
  line-height: $line-height;
}

.section-wrapper {
  display: flex;
  align-items: center;
  min-height: 92vh;
}

.section{
  width:100%;
  @media (min-width: $max-width){
    margin-right: 5*$unit-margin;
  }
}

.section-title{
  @media (min-width: $max-width){
    margin-left: 2*$unit-margin;
  }
  padding-top:3*$unit-padding;
  color: gray;
  font-size: 3em;
}

.section-body{
  padding-top: 0.25*$unit-padding;
  padding-bottom: 0.25*$unit-padding;

  @media (min-width: $max-width){
    margin-left: 3*$unit-margin;
    border-left: 1px lightgrey solid;
    padding-left: 2*$unit-padding;
  }
  @media (max-width: $max-width){
    border-left: 1px lightgrey solid;
    padding-left: $unit-margin;
  }
}

.section-figure {
  float:right;
  text-align: center;
  img {
    width: 250px;
  }
  @media (max-width: $max-width) {
      display: none;
  }
}

.subsection-title {
  color: dimgrey;
  font-size: 2em;
  margin-top: 3.5*$unit-margin;
  @media (min-width: $max-width){
    margin-left: $unit-margin;
  }
}

.subsection-body{
  @media (min-width: $max-width){
    margin-left: 2*$unit-margin;
    border-left: 1px lightgrey dashed;
    padding-left: $unit-padding;
  }
}
