@charset "UTF-8";
#mainMenu {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 0.9;
  background-color: white;
  line-height: 3em;
  transition-duration: 0.5s; }
  @media (min-width: 1050px) {
    #mainMenu {
      left: 15px;
      right: 15px; } }
  @media (max-width: 1050px) {
    #mainMenu {
      left: 0;
      right: 0; } }
  @media (max-width: 1050px) {
    #mainMenu {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); } }
  #mainMenu .menuItem {
    color: black;
    width: 100%;
    align-self: center;
    text-align: center; }
  #mainMenu .menuSelected {
    color: #4F2683;
    border-bottom: 2px solid #4F2683;
    font-weight: bold; }

body {
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif; }

.logo {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center; }
  .logo img {
    width: 80%;
    max-width: 500px; }

#scrollTopBtn {
  opacity: 0;
  position: fixed;
  bottom: 10px;
  right: 30px;
  font-size: small; }

.two-column-data {
  line-height: 1.5em; }
  .two-column-data td:nth-child(1),
  .two-column-data th:nth-child(1) {
    padding-right: 1ex;
    width: 3em; }
  .two-column-data td:nth-child(2) {
    padding-left: 10px;
    border-left: 2px solid lightgray; }

.notesTable {
  display: grid;
  grid-template-columns: 18ex 1fr;
  line-height: 1.25;
  grid-row-gap: 2em;
  align-items: start;
  font-size: small; }
  @media (min-width: 1050px) {
    .notesTable {
      margin-right: 75px;
      margin-left: 30px; } }
  .notesTable h3 {
    margin: 0;
    padding: 0.5em;
    align-self: center; }
  .notesTable .nestedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 0.5em;
    border-left: 2px solid lightgray; }

a {
  text-decoration: none;
  color: peru; }
  a:link {
    color: forestgreen; }
  a:hover {
    color: crimson; }

.external-link {
  position: relative; }
  .external-link:hover::after {
    content: '➚';
    position: absolute;
    top: -0.75em; }

#mainText {
  line-height: 1.75em; }
  @media (min-width: 1050px) {
    #mainText {
      margin-left: 120px; } }

.section-wrapper {
  display: flex;
  align-items: center;
  min-height: 92vh; }

.section {
  width: 100%; }
  @media (min-width: 1050px) {
    .section {
      margin-right: 75px; } }

.section-title {
  padding-top: 30px;
  color: gray;
  font-size: 3em; }
  @media (min-width: 1050px) {
    .section-title {
      margin-left: 30px; } }

.section-body {
  padding-top: 2.5px;
  padding-bottom: 2.5px; }
  @media (min-width: 1050px) {
    .section-body {
      margin-left: 45px;
      border-left: 1px lightgrey solid;
      padding-left: 20px; } }
  @media (max-width: 1050px) {
    .section-body {
      border-left: 1px lightgrey solid;
      padding-left: 15px; } }

.section-figure {
  float: right;
  text-align: center; }
  .section-figure img {
    width: 250px; }
  @media (max-width: 1050px) {
    .section-figure {
      display: none; } }

.subsection-title {
  color: dimgrey;
  font-size: 2em;
  margin-top: 52.5px; }
  @media (min-width: 1050px) {
    .subsection-title {
      margin-left: 15px; } }

@media (min-width: 1050px) {
  .subsection-body {
    margin-left: 30px;
    border-left: 1px lightgrey dashed;
    padding-left: 10px; } }
