@media (min-width: 800px) {
  table.two-column-data {
    margin-left: 2em;
  }
}

table {
  line-height: 2;

  td,
  th {
    vertical-align: top;
  }

  th {
    text-align: left;
  }
}

table.alternate_color {
  width: 100%;

  th {
    font-weight: normal;
    font-style: italic;
    vertical-align: middle;
  }

  td {
    padding: 1ex;
  }

  tr:nth-child(odd) td {
    background-color: #f5f5f5;
  }

  tr:nth-child(even) td {
    background-color: #fafafa;
  }
}

table.two-column-data {
  border-spacing: 0 1.5em;
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;

  td:nth-child(1),
  th:nth-child(1) {
    // border-right: medium solid #eee;
    padding-right: 1ex;
    width: 3.5em;
    border-right: 1px solid cadetblue;
  }

  th:nth-child(1),
  tr.highlight_row td:nth-child(1) {
    border-right: 5px crimson solid;
  }

  td:nth-child(2) {
    padding-left: 1ex;
  }
}

.notesTable {
  display: grid;
  grid-template-columns: 18ex 1fr;
  line-height: 1.25;
  grid-row-gap: 4em;
  align-items: start;
  font-size: small;

  h3 {
    margin: 0;
    padding: 0.5em;
    align-self: center;
  }

  .nestedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 0.5em;
    border-left: 2px solid lightgray;
  }
}
