$page-background-color: whitesmoke;
$font-background-color: #ffffff;
$hyperlink-new: peru;//#2583FF;
$hyperlink-old: steelblue;//#2583AD;
$hyperlink-hover: crimson;//#d50a83;
  
@media (max-width: 700px) {
  .right-side-image {
    display: none;
  }
}

body {
  max-width: 950px;
  margin: 0px auto;
  margin-bottom: 100px;
  line-height: 1.75;
  background-color: $page-background-color;
}

#mainMenu {
  width: 100%;
  height: 50px;
  td {
    width: 20%;
    text-align: center;
    font-style: italic;
    text-shadow: 0 1px 0 #FFF;
  }
  a {
    color: #a0a0a0;
  }
}

#mainText {
  margin: auto;
  background-color: $font-background-color;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
  padding: 20px 30px 40px 30px;

  overflow-y: auto;
  .text {
    text-align: justify;
  }
}

#mainText.no-navBar {
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: $hyperlink-old;
  &:link {
    color: $hyperlink-new;
  }
  &:hover {
    color: $hyperlink-hover;
  }
}

.external-link {
  position: relative;
  &:hover::after {
  content: '➚';
  position: absolute;
  top: -0.75em;
  }
}
    

.python-generated {
  margin-top: 50px;
}

.this_weeks_topic {
  text-align: center;
  font-style: italic;
}

.quote {
  font-style: italic;
  text-align: right;
}

.quote-ref {
  font-style: italic;
  text-align: right;
  padding-bottom: 30px;
  padding-top: 10px;
}

.info {
  line-height: 1.5;
  display: inline;
  text-align: left;
}

.right-side-image {
  float: right;
  img {
  width: 300px;
  }
  figcaption {
  text-align: center;
  }  
}

.centered {
  margin: auto;
}


table {
  line-height: 1.75;
  text-align: justify;
}

table.alternate_color {
  td {
    padding: 10px;
  }
  tr:nth-child(odd) td {
    background-color: #f5f5f5;
  }
  tr:nth-child(even) td {
    background-color: #fafafa;
  }
}
